services:
  mongodb:
    image: mongo:6.0.24-rc0
    container_name:  mongodb

    ports: 
      - "27008:27017"

    volumes:
      - 'mongodata:/data/db'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    
    networks:
      - backend

    restart: always
       
    
  pgvector:
     image: pgvector/pgvector:0.8.1-pg18
     container_name: pgvector

     ports:
       - "5432:5432"

     environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

     volumes:
      - pgvector_data:/var/lib/postgresql/data

     networks:
      - backend

     restart: always

networks:
 backend:

volumes:
  mongodata:
  pgvector_data: