fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
python-dotenv==1.1.0
pydantic-settings==2.9.1
aiofiles==24.1.0 # for handling local disk files in asyncio applications
langchain==0.3.25
PyMuPDF==1.26.0
langchain-community==0.3.24
motor==3.7.1
groq==0.29.0
cohere==5.16.1
qdrant-client==1.15.1
openai==1.109.1
SQLAlchemy==2.0.43
asyncpg==0.30.0
alembic==1.16.5 
psycopg2==2.9.11
pgvector==0.4.1
nltk==3.9.2

# Monitoring & Metrics
prometheus-client==0.23.1
starlette-exporter==0.23.0

# Health Check
fastapi-health==0.4.0
